/* You can add custom styles here. */
a {
  color: #1234b7;
}

.logo {
    display: block;
    max-width: 600px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

.div-wrapper {
    display: block;
    margin-top: 85px;
}

.profile-container {
  display: block;
  justify-content: left;
  align-items: left;

}

.profile {
  display: inline-block;
  min-width: 220px;
  margin: 12px 0 12px 0;
}

.contact {
  display: block;
  width: 280px;
  float: left;
  margin: 12px 0 12px 0;
}


.card-container {
  display: block;
  justify-content: left;
  align-items: left;
  min-height: 172px;
  margin-top: 22px;
  margin-bottom: 12px;
}

.card {
  display: block;
  float: left;
  margin-right: 22px;
  height: 150px;
}

.up-next {
  border-style: solid;
  border-width: 8px;
  border-color: #1234b7;
  border-radius: 18px;
  padding: 8px;
  max-width: 800px;
  text-align: center;
}
.up-next h1 {
  text-align: center;
  padding-top: 8px;
}
@media screen and (min-width: $mobile-breakpoint) and (max-width: 1290px) {
  .school {
    height: 150px;
  }
  .card-container {
    max-width: 450px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 780px) {
  .school {
    height: 150px;
  }
  .card-container {
    max-width: 450px;
    margin-bottom: 32px;
  }
}

// @import "plugins/numbered";
