{{ define "main" }}
<article class="markdown">
  {{- .Content -}}
</article>
<br>

{{ range (.Pages.ByParam "event.end").ByDate }}
{{ if and ((time .Params.event.end).After (now.AddDate 0 0 -12)) ((time .Params.event.start).Before (now.AddDate 0 0 +7)) }}
<article class="markdown book-post up-next">
  <h1>Up Next:</h1>
    <h2>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    {{ partial "docs/post-meta" . }}
    <p>
      {{ if .Truncated }}
      {{ .Summary }}
      <a href="{{ .RelPermalink }}">Read more [...]</a>
      {{ else }}
      {{ .Content }}
      {{ end }} 
    </p>
</article>
{{ end }}
{{ end }}

{{ range first 1 (.Pages.ByParam "event.start").ByDate }}
{{ if (time .Params.event.end).After (now.AddDate 0 0 -1) }}
<h2>Future events</h2>
{{ end }}
{{ end }}
{{ range (.Pages.ByParam "event.start").ByDate }}
{{ if (time .Params.event.end).After (now.AddDate 0 0 -1) }}
<article class="markdown book-post">
  <h2>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h2>
  {{ partial "docs/post-meta" . }}
  <p>
    {{ if .Truncated }}
    {{ .Summary }}
    <a href="{{ .RelPermalink }}">Read more [...]</a>
    {{ else }}
    {{ .Content }}
    {{ end }}
  </p>
</article>
{{ end }}
{{ end }}

<h2>Past events</h2>

{{ range (.Pages.ByParam "event.start").ByDate.Reverse }}
{{ if (time .Params.event.end).Before (now.AddDate 0 0 -1) }}

<article class="markdown book-post">
  <h2>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h2>
  {{ partial "docs/post-meta" . }}
  <p>
    {{ if .Truncated }}
    {{ .Summary }}
    <a href="{{ .RelPermalink }}">Read more [...]</a>
    {{ else }}
    {{ .Content }}
    {{ end }}
  </p>
</article>
{{ end }}
{{ end }}

{{ end }}
