<div class="profile-container">
    <div>
        <img src={{.Get `image`}} style="border-radius: 18px;"/>
    </div>
        <div class="contact">
            {{ if .Get `mail` }}
            email / <a href="mailto:{{.Get `mail`}}" title=email>{{.Get `mail`}}</a><br>
            {{ end }}
            {{ if .Get `website` }}
            website / <a href={{.Get `website`}} title="website" target="_blank">{{.Get `website-name`}}</a><br> 
            {{ end }}
            {{ if .Get `twitter` }}
            twitter / <a href="https://twitter.com/{{.Get `twitter`}}" title="twitter" target="_blank">@{{.Get `twitter`}}</a><br> 
            {{ end }}
            {{ if .Get `ETIS` }}
            <a href={{.Get `ETIS`}} title={{.Get `ETIS`}} target="_blank">ETIS</a>
            {{ end }}
            {{ if .Get `ORCID` }}
            / <a href={{.Get `ORCID`}} title={{.Get `ORCID`}} target="_blank">ORCID</a>
            {{ end }}
        </div>
        <div class="profile">
            <b>{{.Get `member`}}</b><br>
            <em>{{.Get `position`}}<br>
                {{.Get `school`}}<br>
            Tallinn university</em>
        </div>
</div>